{% extends 'base.html' %}
{% block content %}
<h2>{% if data.id %}Redaguoti priekabą{% else %}Nauja priekaba{% endif %}</h2>
<form method="post" action="/priekabos/save">
    <input type="hidden" name="pid" value="{{ data.id or 0 }}">
    <label>Tipas: <input type="text" name="priekabu_tipas" value="{{ data.priekabu_tipas or '' }}"></label><br>
    <label>Numeris: <input type="text" name="numeris" value="{{ data.numeris or '' }}"></label><br>
    <label>Markė: <input type="text" name="marke" value="{{ data.marke or '' }}"></label><br>
    <label>Pirmos reg. data: <input type="text" name="pagaminimo_metai" value="{{ data.pagaminimo_metai or '' }}"></label><br>
    <label>Tech apžiūra: <input type="date" name="tech_apziura" value="{{ data.tech_apziura or '' }}"></label><br>
    <label>Draudimas: <input type="date" name="draudimas" value="{{ data.draudimas or '' }}"></label><br>
    <label>Įmonė: <input type="text" name="imone" value="{{ data.imone or '' }}"></label><br>
    <button type="submit">Išsaugoti</button>
</form>
{% endblock %}
