{% extends 'base.html' %}
{% from 'macros.html' import header_with_add %}
{% block content %}
{% set form_title = 'Redaguoti priekabos tipą' if data.id else 'Naujas priekabos tipas' %}
{{ header_with_add(form_title) }}
<form method="post" action="/trailer-types/save">
    <input type="hidden" name="tid" value="{{ data.id or 0 }}">
    <label>Pavadinimas: <input type="text" name="reiksme" value="{{ data.reiksme or '' }}"></label><br>
    <button type="submit">Išsaugoti</button>
</form>
{% endblock %}
