{% extends 'base.html' %}
{% from 'macros.html' import header_with_add %}
{% block content %}
{{ header_with_add('Priekabų tipai', '/trailer-types/add', 'Pridėti naują') }}
<table id="tt-table" class="display" style="width:100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>Pavadinimas</th>
            <th>Veiksmai</th>
        </tr>
    </thead>
</table>
<script>
$(document).ready(function() {
    $('#tt-table').DataTable({
        ajax: '/api/trailer-types',
        columns: [
            { data: 'id' },
            { data: 'reiksme' },
            { data: null, render: function (data, type, row) {
                return '<a href="/trailer-types/' + row.id + '/edit">Edit</a>';
            }}
        ]
    });
});
</script>
{% endblock %}
